.header {
	font-size: 20px;
	line-height: 9,5;
	margin-bottom: 60px;
	margin: 60px auto;
}
.header span {
	display: block;
}
.form-btn {
	margin: 10px auto;
	background-color:#2727d9; 
}
.form {
	border: 5px solid #2727d9;
	padding: 35px 20px;
	background-color: #6cff32;
} 
.form-input {
	margin-bottom: 12px;
}
.form-header, .section-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.section {
	padding: 30px 0;
}
.feature {
	margin: 50px;
}

.feature p {
	margin-top: 30px;
}
